<% layout('/layouts/boilerplate') -%>

    <p class="h4">This web application provides the weather forecast for the location given by the user.</p>
    <br>
    <p class="h6"><b>APIs used:</b> <a href="https://www.mapbox.com/">Mapbox</a>, <a
            href="https://weatherstack.com/">weatherstack</a></p>
    <p class="h6"><b>Technologies used:</b> <a href="https://nodejs.org/en/">NodeJS</a>, <a
            href="https://expressjs.com/">ExpressJS</a>, <a href="https://ejs.co/#promo">EJS(Embedded
            JavaScript templating)</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>, <a
            href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, <a
            href="https://getbootstrap.com/">Bootstrap</a>
    </p>