<% layout('/layouts/boilerplate') -%>

    <p class="h5">The use of this application is straight forward, just type the location, and it will return the
        weather forecast for that location.
    </p>
    <br>
    <p class="h5">
        Entering invalid locations will give and error and prompt the user with an error message.
    </p>
    <br>
    <p class="h5">
        That's all. Thanks.
    </p>