<% layout('/layouts/boilerplate') -%>


    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Location" aria-describedby="button-addon2"
                id="location">
            <button class="btn btn-outline-success" type="submit" id="button-addon2">Submit</button>
        </div>
    </form>


    <p id="msg1"></p>
    <p id="msg2"></p>


    <script src="/javascripts/app.js"></script>